<div class="site-header">
  <h1 class="site-title">kath.de</h1>
  <h2 class="site-subtitle">Unabhängiges katholisches Nachrichtenportal</h2>
</div>
<div class="nav-bar">
  <div class="net-nav">
    <a href="http://kath.de/kommentar">Kommentar</a>
    <a href="http://kath.de/kommentar">Newsletter</a>
    <a href="http://kath.de/kommentar">Archiv</a>
    <a href="http://hinsehen.net">hinsehen.net</a>
    <a href="http://explizit.net">explizit.net</a>
  </div>

    <input type="search" name="q" placeholder="Suche..."/>
</div>
